<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkxwh7-05bcPadXxT5H__pkYjlENBuMdA&libraries=places&callback=initialize" async
    defer></script>-->

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form ng-submit="vm.createJob()">
                <div class="form-group">
                    <label for="title">Job Title</label>
                    <input type="text" class="form-control" name="title" id="title" ng-model="job.title" placeholder="Job Title" ng-required="true">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" rows="5" name="description" id="description" ng-model="job.description" placeholder="Job Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control">
                        <option>Select a category</option>
                        <option>1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="datestart">Job Start Date</label>
                    <input type="date" class="form-control" name="datestart" ng-model="job.datestart">
                </div>
                <div class="form-group">
                    <label for="dateend">Job End Date</label>
                    <input type="date" class="form-control" name="dateend" ng-model="job.dateend">
                </div>
                <div class="form-group">
                    <label for="hours">Estimated time of Work (In hours)</label>
                    <input type="number" class="form-control" name="hours" id="hours" ng-model="job.hours" placeholder="Estimated hours">
                </div>

                <div class="form-group">
                    <label for="price">Salary (Total amount in KR)</label>
                    <input type="number" class="form-control" name="price" ng-model="job.price" id="price" placeholder="Job Salary">
                </div>

                <a class="btn btn-danger" ui-sref="dashboard.created-jobs"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Create </button>
            </form>
            <form name="searchForm" novalidate ng-submit="vm.search()">
                <div class="input-group">
                    <input name="place" type="text" class="form-control" ng-model="searchPlace" required autofocus />
                    <span class="input-group-btn">
                         <button class="btn btn-primary" ng-disabled="searchForm.$invalid"><span class="glyphicon glyphicon-search"></span>                    Search</button>
                    </span>
                </div>
            </form>

            <div id="map"></div>
        </div>
    </div>
</div>