<div class="container">
    <div class="row">

        <div class="col-sm-10 col-sm-offset-2">
            <div class="job-list col-sm-10">
                <ul class="list-group">
                    <h3>Number of Applicants: <strong>{{vm.jobApplicationDetails.length}}<strong></h3>
                    <li class="list-group-item clearfix" ng-repeat="jobApplication in vm.jobApplicationDetails">
                        <span class="col-sm-4">
                        <h4 >Applicant ID:  {{ jobApplication.applicantId }} </h4>  
                    </span>

                        <span class="col-sm-4 center-text-element"> 
                        Status: {{ jobApplication.status}}
                     </span>
                        <button type="button" class="btn btn-success pull-right" ng-click="vm.acceptJobApplicant(jobApplication.applicantId,jobApplication.jobId)"> ACCEPT </button>                        </li>
                </ul>
            </div>
        </div>
    </div>
</div>