<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="jumbotron">
                <div class="row">
                    <h2><strong>Hello stranger</strong></h3>

                    <h3>To user our application you need to be logged in. We would like to have you as a part of our community
                    </h3>
                    
                    <h4>Don't have an account ? <a ui-sref="register"><span class="glyphicon glyphicon-record"></span> Register</a></h4>

                    <h4>You want to go to your account <a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>